#markDown{
  display:grid;
  grid-template-rows: 1fr 3fr 1fr;
}
textarea {
  resize: none;
  outline: none;
}
.save-btn{
  background-color:rgb(181, 35, 35);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 20%;
}